/* Tags */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--default);
  overflow-x: hidden;
  animation: load 0.5s ease-out;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  cursor: pointer;
}

:focus {
  outline: 0;
}

/* CSS Variables */
:root {
  --yellow: #E9F035;
  --orange: #F5CF4C;
  --black: #000113;
  --default: Arial, Helvetica, sans-serif;
}

/* Animations */
@keyframes load {
  0% {
    transform: translateX(-5px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
